---
permalink: /404.html
---

<!DOCTYPE html>
<html lang="ar" dir="rtl" data-theme="light" class="bg-gray-50">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="أذكار ويب">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.12/dist/full.min.css" rel="stylesheet" type="text/css" />

  <link rel="canonical" href="/404/">
  <title> لم يتم العثور | أذكار ويب</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Add any CSS styles here -->
  <style>
    body {
      font-family: 'Tajawal', sans-serif;
      direction: rtl;
      text-align: right;
    }
  </style>
</head>
<body class="mx-4 sm:mx-20 md:mx-40 lg:mx-80 border ">
    {% include navigation.html %}
    <header class="p-4 text-center">
      <h1 class="text-2xl"> لم يتم العثور على هذه الصفحة (404)
    </h1>
    </header>

    {% include footer.html %}
  <!-- Structured Data -->
 
  <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>