---
permalink: "/عنا/"
---

<!DOCTYPE html>
<html lang="ar" dir="rtl" data-theme="light" class="bg-gray-50">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="أذكار ويب">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.12/dist/full.min.css" rel="stylesheet" type="text/css" />

   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">

  <link rel="canonical" href="/سياسة-الخصوصية/">
  <title> عنا | أذكار ويب</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Add any CSS styles here -->
  <style>
    body {
      font-family: 'Tajawal', sans-serif;
      direction: rtl;
      text-align: right;
    }
  </style>

    <script type='text/javascript' src='//pl24642139.cpmrevenuegate.com/c0/75/fb/c075fb1fed2948c0078298aac8b601fb.js'></script>

  <script type='text/javascript' src='//pl24642139.cpmrevenuegate.com/c0/75/fb/c075fb1fed2948c0078298aac8b601fb.js'></script>
</head>
<body class="mx-4 sm:mx-20 md:mx-40 lg:mx-80 border ">
    {% include navigation.html %}
    <header class="p-4">
      <h1 class="text-2xl">عنا أذكار ويب
    </h1>
    </header>
    <main class="p-4 space-y-6">
        <p>
مرحبًا بكم في أذكار ويب!
</p>
<p>
نحن موقع يهدف إلى مساعدة المسلمين على تذكّر الله من خلال تقديم مجموعة من الأذكار اليومية.
</p>
<p>
ماذا نقدم؟
</p>
<p>
أذكار الصباح والمساء: نصوص سهلة القراءة لتعزيز الروحانية في بداية اليوم ونهايته.
</p>
<p>
أذكار بعد الصلاة: أدعية وأذكار تساعدك في التقرب إلى الله بعد أداء الصلوات.
</p>
<h3 class="text-xl font-bold">
هدفنا
</h3>
<p>
هدفنا هو تسهيل الوصول إلى الأذكار والدعاء، مما يساعدك في تذكّر الله في كل الأوقات.
</p>
<br>

شكرًا لزيارتك لموقع أذكار ويب! نتمنى لك تجربة مفيدة.
    </main>


{% include footer.html %}
  <!-- Structured Data -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "عن أذكار ويب",
    "description": "أكار ويب هي منصة صغيرة تجمع الأذكار اليومية التي يحتاجها كل مسلم في كل يوم",
    "inLanguage": "ar"
  }
  </script>
  <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>
