---
permalink: "/تواصل-معنا/"
---


<!DOCTYPE html>
<html lang="ar" dir="rtl" data-theme="light" class="bg-gray-50">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="أذكار ويب">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.12/dist/full.min.css" rel="stylesheet" type="text/css" />

   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">

  <link rel="canonical" href="/سياسة-الخصوصية/">
  <title> تواصل معنا | أذكار ويب</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Add any CSS styles here -->
  <style>
    body {
      font-family: 'Tajawal', sans-serif;
      direction: rtl;
      text-align: right;
    }
  </style>


<script type='text/javascript' src='//pl24642139.cpmrevenuegate.com/c0/75/fb/c075fb1fed2948c0078298aac8b601fb.js'></script>
</head>
<body class="mx-4 sm:mx-20 md:mx-40 lg:mx-80 border ">
    {% include navigation.html %}
    <header class="p-4">
      <h1 class="text-2xl">  تواصل معنا
    </h1>
    </header>
    <main class="p-4 space-y-6">
        إذا كان لديك أي استفسارات، لا تتردد في التواصل معنا عبر [masoud.elmashay@gmail.com].
    </main>


{% include footer.html %}
  <!-- Structured Data -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "تواصل مع أذكار ويب",
    "description": "يمكنك التواصل مع أذكار ويب عن طريق الإيميل الأتي",
    "inLanguage": "ar"
  }
  </script>
  <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>
